<div class="ad bottom">
    <!-- Loaded above <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> -->
    <!-- DNS-Lookup.com Footer -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-8400268452481648"
         data-ad-slot="3044051392"
         data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>
