<div class="bsa-ad">
    <div class="partner">
        <p>DNS-Lookup <strong>Partners</strong></p>
    </div>
    <div class="bsa-cpc">
        <div id="_default_"> <span class="default-ad">ad</span>
            <a href="https//srv.buysellads.com/ads/click/x/GTND4237C6AI4KQWCAYLYKQWF6YIL27LCABDPZ3JCEAI6K3ICVAI62JKC6BDLKQ7CTADVK3EHJNCLSIZ?segment=placement:jscompresscom;" target="_blank" rel="nofollow" class="_default_"> <span class="default-image"><img src="https://assets.servedby-buysellads.com/p/manage/asset/id/38013"></span> <span class="default-title">Squarespace:</span> <span class="default-description">Make your next move with an impressive portfolio website. Start your free trial.</span> </a> <img src="https://www.launchbit.com/taz-pixel/11452-6738-111" style="display:none;" height="0" width="0">
            <a href="https//srv.buysellads.com/ads/click/x/GTND4237C6AI4KQWCAYLYKQWF6YIL27LCESDEZ3JCEAI6K3ICVSDK2JKC6BDLKQ7CTADVK3EHJNCLSIZ?segment=placement:jscompresscom;" target="_blank" rel="nofollow" class="_default_"> <span class="default-image"><img src="https://assets.servedby-buysellads.com/p/manage/asset/id/38142"></span> <span class="default-title">CircleCI: </span> <span class="default-description">Continuous integration and delivery software teams love to use.</span> </a> <img src="https://www.launchbit.com/taz-pixel/11452-6837-111" style="display:none;" height="0" width="0"> </div>
    </div>
</div>
