<header>
    <nav>
        <div class="dev-tools-logo">DNS</div>
        <div class="logo">
            <h1>DNS-Lookup <span class="sub-title">- The Professional Domain Name System (DNS) &amp; IP Lookup Checker Tool</span></h1> 
        </div>
        <label for="drop" class="toggle">Menu</label>
        <input type="checkbox" id="drop">
        <ul class="menu">
            <li class="dropdown">
                <label for="drop-1" class="toggle">More Developer Tools</label> <a href="#"><span class="three-lines"></span><span class="more-dev">More Developer</span> Tools</a>
                <input type="checkbox" id="drop-1">
                <ul>
                    <li class="jscompress"><a target="_blank" href="https://jscompress.com/"><strong>JSCompress</strong><br><span class="tagline-title">The JavaScript Compression Tool</span></a></li>
                    <li class="keygen"><a target="_blank" href="https://randomkeygen.com/"><strong>RandomKeygen</strong><br><span class="tagline-title">The Random Password Generator</span></a></li>
                    <li class="json"><a target="_blank" href="https://jsonlint.com/"><strong>JSONLint</strong><br><span class="tagline-title">The Legendary JSON Validator</span></a></li>
                    <li class="comp"><a target="_blank" href="https://jsoncompare.com/"><strong>JSONCompare</strong><br><span class="tagline-title"> The Advanced JSON Linter</span></a></li>
                    <li class="jsvalidate"><a target="_blank" href="https://validatejavascript.com/"><strong>ValidateJavaScript</strong><br><span class="tagline-title">Quickly Find &amp; Fix JavaScript Errors</span></a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>
