<header>
    <nav>
        <div class="dev-tools-logo">DNS</div>
        <div class="logo">
            <h1>DNS-Lookup <span class="sub-title">- The Professional DNS & IP Lookup Tool</span></h1> </div>
        <label for="drop" class="toggle">Menu</label>
        <input type="checkbox" id="drop">
        <ul class="menu">
            <li class="dropdown">
                <label for="drop-1" class="toggle">More Developer Tools</label> <a href="http://jsonlint.com/#"><span class="three-lines"></span><span class="more-dev">More Developer Tools</span></a>
                <input type="checkbox" id="drop-1">
                <ul>
                    <li class="json"><a target="_blank" href="http://jsonlint.com/">JSONLint <span class="tagline-title">- The JSON Validator</span></a></li>
                    <li class="jscompress"><a target="_blank" href="https://jscompress.com/">JSCompress <span class="tagline-title">- The JavaScript Compression Tool</span></a></li>
                    <li class="keygen"><a target="_blank" href="http://randomkeygen.com/"><span class="tagline-title">The </span>Random Key Generator</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>
