<head>
    <title>DNS-Lookup - The Professional Free DNS Lookup Checker Tool</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="DNS-Lookup is an online tool that will find the IP address and perform a deep DNS lookup of any URL, providing in-depth details on common record types.">
    <meta name="twitter:card" value="summary">
    <meta name="google-site-verification" content="Llzswj0fiDWRRP0GOmdP6Jq19BpEcdiZXqWKZEbKM9c">

    <meta property="og:title" content="The Professional DNS Lookup Tool">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://dns-lookup.com">
    <meta property="og:description" content="DNS-Lookup is an online tool that will find the IP address and perform a deep DNS lookup of any URL, providing in-depth details on common record types.">
    <meta name="robots" content="index">
    <link rel="stylesheet" href="css/style.css">

    <link rel="shortcut icon" href="https://dns-lookup.com/icons/favicon.ico">
    <link rel="canonical" href="https://dns-lookup.com/" />
    <link href="icons/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="icons/apple-touch-icon-128x128.png" rel="apple-touch-icon" sizes="128x128">
    <link href="icons/apple-touch-icon-152x152.png" rel="apple-touch-icon" sizes="152x152">
    <link href="icons/apple-touch-icon-167x167.png" rel="apple-touch-icon" sizes="167x167">
    <link href="icons/apple-touch-icon-180x180.png" rel="apple-touch-icon" sizes="180x180">
    <link href="icons/icon-hires.png" rel="icon" sizes="192x192">

    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
    <script>
    window.addEventListener("load", function(){
    window.cookieconsent.initialise({
      "palette": {
        "popup": {
          "background": "#edeff5",
          "text": "#444444"
        },
        "button": {
          "background": "#EB9532",
          "text": "#ffffff"
        }
      },
      "content": {
        "message": "By using DNS-Lookup.com you accept our use of cookies and agree to our",
    	"dismiss": "Ok, thanks!",
        "link": "privacy policy.",
        "href": "https://dns-lookup.com/privacy-policy.html"
      }
    })});
    </script>

    <style type="text/css">
      body [class^="bsa-fluid-header"] {position: relative;top:0;left: 0;right: 0;display: flex;justify-content: center;align-items: center;height: 100px;width: 100%;background: #eee; border-bottom:solid 1px #ccc;z-index: 9999;padding: 5px 0;}
      body [class^="bsa-fluid-header"] > a {display: block;position: absolute;right: 5px;top: 5px;background: rgba(255, 255, 255, .4);color: #000;border-radius: 20px;padding: 2px 8px 4px;font-family: Arial;font-size: 14px;text-decoration: none;}
    </style>

    <script type="text/javascript">(function(){var bsa_optimize=document.createElement('script');bsa_optimize.type='text/javascript';bsa_optimize.async=true;bsa_optimize.src='https://cdn-s2s.buysellads.net/pub/dnslookup.js?'+(new Date()-new Date()%3600000);(document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild(bsa_optimize);})();</script>

    <script type="text/javascript" defer src="//jsonlint.com/bsa-common.js"></script>
    <link href="//jsonlint.com/bsa-common.css" rel="stylesheet">
</head>
