<head>
    <title>DNS-Lookup - The Professional DNS Lookup Tool</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="DNS-Lookup is an online tool that will find the IP address and perform a deep DNS lookup of any URL, providing in-depth details on common record types.">
    <meta name="twitter:card" value="summary">
    <link rel="shortcut icon" href="https://dns-lookup.com/dns-lookup-favicon.ico">
    <meta property="og:title" content="The Professional DNS Lookup Tool">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://dns-lookup.com">
    <meta property="og:image" content="https://dns-lookup.com/jsonlint-social.jpg">
    <meta property="og:description" content="DNS-Lookup is an online tool that will find the IP address and perform a deep DNS lookup of any URL, providing in-depth details on common record types.">
    <meta name="robots" content="index">
    <link rel="stylesheet" href="css/style.css">
</head>
