<div class="info">
    <h2>About DNS-Lookup</h2>
    <p>DNS Lookup is an online tool that will find the IP address and perform a deep DNS lookup of any URL, providing in-depth details on common record types, like A, MX, NS, SOA, and TXT.</p>

    <p>Directly type or copy and paste a URL (with or without http/https) in the form field above, click '<strong>Lookup</strong>,' and learn the IP address and DNS information for that particular URL.</p>

    <h2>What is Domain Name System (DNS)?</h2>
    <p><strong>D</strong>omain <strong>N</strong>ame <strong>S</strong>ystem, or <strong>DNS</strong> for short, is the protocol that translates readable URLs - <code>dns-lookup.com</code> - into numeric addresses that can be understood by computers. This is how DNS works:</p>

    <ol>
    <li>A web user enters a readable domain name of a website into the address bar of their preferred browser.</li>
    <li>Their device then sends a DNS request to the ISP (Internet Service Provider) of the user.</li>
    <li>The ISP will determine if the domain name is associated with an IP address.</li>
    <li>When the IP address is located, the domain name is sent back to the device of the user.</li>
    <li>The device can now communicate with the server of the entered domain, and the user can now view the website.</li>
    </ol>

    <h2>What are the Most Common Types of DNS Records?</h2>
    <ul>
    <li><strong>A (Address)</strong> - Used to point a domain name to the associated IP address.</li>
    <li><strong>CNAME (Canonical Name)</strong> - Used for creating aliases of domain names.</li>
    <li><strong>MX (Mail Exchanger)</strong> - Used to deliver email to a specified address.</li>
    <li><strong>NS (Name Server)</strong> - Used to specify an authoritative name server for a given host.</li>
    <li><strong>SOA (Start of Authority)</strong> - Used to determine key information about a DNS zone.</li>
    <li><strong>TXT</strong> - Used to verify domain ownership and hold SPF (Sender Policy Framework) data.</li>
    </ul>

    <h2>Credits &amp; Source</h2>
    <p>Built and maintained by CircleCell. You can grab the DNS-Lookup.com source code from GitHub <a target="_blank" href="https://github.com/circlecell/dns-lookup.com">here</a>.</p>
</div>
