<table class="table inner">
    <thead>
        <tr>
            <th>Priority</th>
            <th>Exchange</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%- record.priority %></td>
            <td><%- record.exchange %></td>
        </tr>
    </tbody>
</table>
