<!DOCTYPE html>
<html lang="en">
<%- include partials/head %>
<body class="container">
    <%- include partials/header %>
    <main>
        <div class="row">
            <div class="col-sm-12">
                <strong>Error: </strong><%- error %>
            </div>
        </div>
    </main>
</body>
</html>
