<!DOCTYPE html>
<html lang="en">
<%- include partials/head %>
<body class="container">
    <%- include partials/header %>
    <main>
        <div class="row">
            <div class="col-sm-12">
                <form name="lookup">
                  <div class="form-group">
                    <label for="domain">Domain name:</label>
                    <input type="text" name="domain" class="form-control" id="domain" placeholder="example.com">
                  </div>
                  <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </main>
    <script>
        document.forms.lookup.addEventListener('submit', function(evt) {
            evt.preventDefault();
            var domain = this.domain.value.replace(/https?:\/\//, '');

            location.href = domain;
        });

        alert('deployment works!');
    </script>
</body>
</html>
