<table class="table inner">
    <thead>
        <tr>
            <th>Priority</th>
            <th>Weight</th>
            <th>Port</th>
            <th>Target</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%- record.priority %></td>
            <td><%- record.weight %></td>
            <td><%- record.port %></td>
            <td><%- record.target %></td>
        </tr>
    </tbody>
</table>
